<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />

  </head>
  <body>

    <section>
      <h1>Oden Athena</h1>
    </section>
  </body>

</html>
