
<section class="section" id="components--basic-section">
  <h2 class="section__title">Basic section</h2>
  <p class="section__text">A basic section is a second-level organizational block on the page. Use them when you are moving down the page, from one content section to the other. Key points:</p>
  <ul class="component-properties">
    <li class="section__text"> Lots of padding: 6em on top and bottom, and at least 1.5em on each side </li>
  </ul>

  <a href="" class="to-code-link">View CSS &rarr;</a>

  <div class="oden-athena__section margin-bottom bg-white">
    <h2 class="oden-athena__section__title">The shortcomings of data science for high-consequence decisions</h2>
    <p class="oden-athena__section__lead">High-consequence decisions in science, engineering and medicine are almost always based on predictions that go beyond the available data. </p>
    <p class="oden-athena__section__lead">More stuff below, images, text, etc. Lorem ipsum dolor amet xOXO yuccie la croix, ennui knausgaard tousled paleo leggings kitsch hashtag coloring book woke affogato. Biodiesel organic etsy keffiyeh raw denim, succulents flexitarian skateboard lomo taxidermy wolf. Pour-over 90's wayfarers cloud bread banh mi, coloring book celiac. Bushwick church-key try-hard prism glossier pour-over. Cold-pressed listicle chartreuse cardigan craft beer keytar. Franzen fixie kinfolk selfies hella, direct trade yr tumblr kogi chia vape.</p>
  </div>



  <p class="section__text">You can overlay a section block on top of an image that's not critical but still adds visual interest. </p>


  <section class="grid-container oden-athena__section with-overlapping-image-text--bottom no-top-padding">
    <div class="grid-x">
      <div class="overlapping-image-text__wrapper">
        <img class="" src="/images/basic-section__centers-groups.png" />
        <div class="overlapping-image-text__text bottom">
          <h2 class="oden-athena__section__title">Groups and Centers</h2>
          <p class="oden-athena__section__text">Over 21 groups and centers at the Oden Institute are focused on solving Grand Challenge problems that impact the quality of life and well-being of every person in the US.</p>
          <p><a class="oden-athena__with-text-underline" href="groups-and-centers.html">Explore Groups &amp; Centers &rarr;</a></p>
        </div>
      </div>
    </div>
  </section>

</section>
