<section class="section" id="block-quote">
  <h2 class="section__title">Block Quote</h2>
  <p class="section__text">Block quotes should be used for quotes from <b>external sources</b>. They are <b>not</b> the same as pull quotes, which are used to "pull" emphasizing text out of your own writing. Block quotes should be positioned with plenty of whitespace so that it's clear they're distinct from the main text. </p>
  <a target="_blank" href="https://github.com/luwen-huang/oden-athena/blob/master/src/_blockQuote.scss" class="to-code-link">Github &rarr;</a>

  <script async src="//jsfiddle.net/luwenh/uorwz9tg/3/embed/html,css,result/"></script>

  <div class="demo-box">
    <blockquote class="oden-athena__blockquote">
      <p class="oden-athena__blockquote__quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p class="oden-athena__blockquote__cite"><a class="">How to Build Artificial Intelligence We Can Trust,</a> The New York Times</p>
    </blockquote>

  </div>
</section>
