<section class="section" id="components--brick">
  <h2 class="section__title">Brick</h2>
  <p class="section__text">A brick is a small block of content. A brick can have any one or more of the following: name, description, meta or image.  Use bricks when you have at least ~6 of the same type of content, but you don't want to display them in a boring list. Bricks are arranged in a masonry-like layout.</p>

  <a href="" class="to-code-link">View CSS &rarr;</a>

  <div class="clearfix masonry-grid oden-athena__brick-collection">
    <div class="oden-athena__brick-item">
      <img class="oden-athena__brick__item-image" src="/images/brick__episode-1.jpg" />
      <p class="oden-athena__brick__item-name">Episode I &mdash; The Phantom Menace</p>
      <p class="oden-athena__brick__item-description">Obi-Wan Kenobi  is a young apprentice Jedi knight under the tutelage of Qui-Gon Jinn; Anakin Skywalker, who will later father Luke Skywalker and become known as Darth Vader, is just a 9-year-old boy...</p>
    </div>
    <div class="oden-athena__brick-item">
      <p class="oden-athena__brick__item-name">Episode II &mdash; Attack of the Clones</p>
      <p class="oden-athena__brick__item-description">Set ten years after the events of "The Phantom Menace," the Republic continues to be mired in strife and chaos. A separatist movement encompassing hundreds of planets and powerful corporate alliances poses new threats to the galaxy that even the Jedi cannot stem...</p>
      <p class="oden-athena__brick__item-meta">Jul 4 2020</p>
    </div>
    <div class="oden-athena__brick-item">
      <!-- <img class="oden-athena__brick__item-image" src="/images/brick__episode-3.jpg" /> -->
      <p class="oden-athena__brick__item-name">Episode III &mdash; Revenge of the Sith</p>
      <p class="oden-athena__brick__item-meta">Jul 4 2020</p>
    </div>
    <div class="oden-athena__brick-item">
      <p class="oden-athena__brick__item-name">Episode IV &mdash; A New Hope</p>
      <p class="oden-athena__brick__item-description">The Imperial Forces &mdash; under orders from cruel Darth Vader &mdash; hold Princess Leia  hostage, in their efforts to quell the rebellion against the Galactic Empire...</p>
    </div>
    <div class="oden-athena__brick-item">
      <p class="oden-athena__brick__item-name">Episode V &mdash; The Empire Strikes Back</p>
      <p class="oden-athena__brick__item-description">The adventure continues in this "Star Wars" sequel. Luke Skywalker (Mark Hamill), Han Solo (Harrison Ford), Princess Leia (Carrie Fisher) and Chewbacca (Peter Mayhew) face attack by the Imperial forces and its AT-AT walkers on the ice planet Hoth. While Han and Leia escape in the Millennium Falcon...</p>
      <p class="oden-athena__brick__item-meta">Jul 4 2020</p>
    </div>
  </div>
</section>
