<section class="section" id="components--brick">
  <h2 class="section__title">Brick</h2>
  <p class="section__text">A brick is a small block of content. A brick can have any one or more of the following: name, description, meta or image.  Use bricks when you have at least ~6 of the same type of content, but you don't want to display them in a boring list. Bricks are arranged in a masonry-like layout.</p>

  <p>You must have jQuery loaded and initialized the JS code in order to get the masonry layout. </p>

  <a target="_blank" href="https://github.com/luwen-huang/oden-athena/blob/master/src/_brick.scss" class="to-code-link">Github &rarr;</a>

  <script async src="//jsfiddle.net/luwenh/cpgs4jme/2/embed/html,css,result/"></script>

  <div class="clearfix masonry-grid oden-athena__brick-collection">
    <div class="oden-athena__brick">
      <p class="oden-athena__brick__eyebrow">Seminar</p>
      <img class="oden-athena__brick__image" src="/images/brick__heart.jpg" />
      <p class="oden-athena__brick__name">Quantifying The 3D Mechanical Tractions Of The Aortic Heart Valve Interstitial Cell</p>
      <p class="oden-athena__brick__description">Abstract here. The aortic valve interstitial cell (AVIC) is the most abundant cell type within the aortic valve and maintains the turnover of extracellular matrix (ECM) components. Under normal conditions, AVICs display a fibroblast-like, quiescent phenotype and can undergo myofibroblastic phenotypic activation &dots;</p>
      <p class="oden-athena__brick__meta">Dec 6, 1&ndash;2pm | POB 4.304 | Alex Khang</p>
    </div>
    <div class="oden-athena__brick">
      <p class="oden-athena__brick__eyebrow">Workshop</p>
      <p class="oden-athena__brick__name">Computational Science and Engineering - A key enabler for Digital Twins</p>
      <p class="oden-athena__brick__description"></p>
      <p class="oden-athena__brick__meta">Dec 13, 3.30&ndash;5pm | POB 6.304 | Dirk Hartmann</p>
    </div>
    <div class="oden-athena__brick">
      <p class="oden-athena__brick__eyebrow">Talk</p>
      <p class="oden-athena__brick__name">Statistical Validation and Principle-Based Simulation of High-Dimensional Hybrid Systems</p>
      <p class="oden-athena__brick__description"></p>
      <p class="oden-athena__brick__meta">Feb 13, 3.30&ndash;5pm | POB 6.304 | Geir E. Dullerud</p>
    </div>
    <div class="oden-athena__brick oden-athena__brick--horizontal">
      <img class="oden-athena__brick__image-bg" />
      <div class="oden-athena__brick__text-wrapper">
        <p class="oden-athena__brick__eyebrow">Seminar</p>
        <p class="oden-athena__brick__name">Non-Brownian diffusion: from disorder to physical insights</p>
        <p class="oden-athena__brick__description"></p>
        <p class="oden-athena__brick__meta">Feb 23, 3.30&ndash;5pm | POB 6.304 | Ralf Metzler</p>
      </div>
    </div>
    <div class="oden-athena__brick">
      <p class="oden-athena__brick__eyebrow">Talk</p>
      <p class="oden-athena__brick__name">The benefits of breaking through standard interfaces</p>
      <p class="oden-athena__brick__description"></p>
      <p class="oden-athena__brick__meta">Mar 13, 3.30&ndash;5pm | POB 6.304 | Robert van de Geijn</p>
    </div>
  </div>
</section>
