
<section class="section" id="components--content-box">
  <h2 class="section__title">Content Box</h2>
  <p class="section__text">A content box is for a medium-sized piece of content &mdash; not big enough to warrant using a declarative box, but also not small or numerous enough to use bricks. Content boxes can come with or without images, and can be vertical or horizontal.</p>

  <a target="_blank" href="" class="to-code-link">Github &rarr;</a>

  <script async src="//jsfiddle.net/luwenh/Ln5prg86/3/embed/html,css,result/"></script>

  <div class="grid-x margin-bottom">
    <div class="oden-athena__content-box oden-athena__content-box--horizontal bg-white ">
      <div class="oden-athena__content-box__image-bg" ></div>

      <div class="oden-athena__content-box__padding-wrapper">
        <h3 class="oden-athena__content-box__title">Undergraduate Studies</h3>
        <p class="oden-athena__content-box__description">Undergraduate offerings include summer internships, a certificate program, and a five-year joint degree combining a bachelor’s degree in Computer Science with a master’s degree in Computational Science, Engineering, and Mathematics.</p>
        <p class="oden-athena__content-box__link-out"><a class="oden-athena__with-text-underline">Learn more &rarr;</a></p>
      </div>
    </div>

  </div>

  <div class="grid-x grid-margin-x ">
    <div class="cell small-12 medium-6 large-5">

      <div class="oden-athena__content-box bg-white">
        <div class="oden-athena__content-box__padding-wrapper">
          <h3 class="oden-athena__content-box__title">Postdoctoral Fellowships</h3>
          <p class="oden-athena__content-box__description">The Oden Institute annually offers generous Postdoc fellowships coupled with employee benefits and relocation expense reimbursements. Applications are accepted until Jan. 6, 2020 for the following fall semester.</p>
          <p class="oden-athena__content-box__link-out"><a class="oden-athena__with-text-underline">Learn more &rarr;</a></p>
        </div>
      </div>
    </div>

    <div class="cell small-12 medium-6 large-5">
      <div class="oden-athena__content-box bg-white">
        <img class="oden-athena__content-box__image" src="/images/content-box__undergrad.jpg" />

        <div class="oden-athena__content-box__padding-wrapper">
          <h3 class="oden-athena__content-box__title">Undergraduate Studies</h3>
          <p class="oden-athena__content-box__description">Undergraduate offerings include summer internships, a certificate program, and a five-year joint degree combining a bachelor’s degree in Computer Science with a master’s degree in Computational Science, Engineering, and Mathematics.</p>
          <p class="oden-athena__content-box__link-out"><a class="oden-athena__with-text-underline">Learn more &rarr;</a></p>
        </div>
      </div>
    </div>
  </div>



  <!-- <p class="section__text">You can overlay a section box on top of an image that's not critical but still adds visual interest. </p> -->



</section>
