<section class="section" id="declarative-box">
  <h2 class="section__title">Declarative box</h2>
  <p class="section__text">A declarative box is used when you want to showcase something fairly large, like a program or school. You specify your own <code>background-color</code> and images with your own CSS.</p>


  <a target="_blank" href="https://github.com/luwen-huang/oden-athena/blob/master/src/_declarativeBox.scss" class="to-code-link">Github &rarr;</a>

  <script async src="//jsfiddle.net/luwenh/yc26j973/16/embed/html,css,result/"></script>

  <div class="grid-x margin-bottom">
    <div class="oden-athena__declarative-box bg-white">
      <div class="oden-athena__declarative-box__padding-wrapper">
        <p class="oden-athena__declarative-box__eyebrow">Programs &amp; Degrees</p>
        <h2 class="oden-athena__declarative-box__title">Interdisciplinary CSEM Program</h2>
        <p class="oden-athena__declarative-box__lead">Our program is unique in its interdisciplinary emphasis, residing within the Oden Institute for Computational Engineering and Sciences, instead of within traditional academic departments. Our faculty are drawn from 23 academic departments representing five schools &amp; colleges.</p>
        <p class="oden-athena__declarative-box__link-out"><a class="oden-athena__with-text-underline" href="">Read more &rarr;</a></p>
      </div>
      <div class="oden-athena__declarative-box__image-bg"> </div>
    </div>
  </div>

  <p class="section__text">Dark version:</p>

  <div class="grid-x margin-bottom">
    <div class="oden-athena__declarative-box oden-athena__declarative-box--dark">
      <div class="oden-athena__declarative-box__image-bg"> </div>
      <div class="oden-athena__declarative-box__padding-wrapper">
        <p class="oden-athena__declarative-box__eyebrow">Programs &amp; Degrees</p>
        <h2 class="oden-athena__declarative-box__title">Interdisciplinary CSEM Program</h2>
        <p class="oden-athena__declarative-box__lead">Our program is unique in its interdisciplinary emphasis, residing within the Oden Institute for Computational Engineering and Sciences, instead of within traditional academic departments. Our faculty are drawn from 23 academic departments representing five schools &amp; colleges.</p>
        <p class="oden-athena__declarative-box__link-out"><a class="oden-athena__with-text-underline" href="">Read more &rarr;</a></p>
      </div>
    </div>
  </div>

</section>
