<section class="section" id="fundamentals">
  <h2 class="section__title">Fundamentals</h2>
  <p class="section__text">Fundamental style rules for typography </p>

  <section class="section" id="fundamentals--headings">
    <h2 class="section__title">Headings</h2>
    <p class="section__text">There are three different sizes for three headings: h1, h2, and h3:</p>
    <div class="demo-box">
      <h1>h1 for page titles</h1>
      <h2>h2 for section titles</h2>
      <h3>h3 for declarative box and content box titles</h3>
      <p class="section__text">p for paragraph text</p>
    </div>
  </section>

  <section class="section" id="fundamentals--links">
    <h2 class="section__title">Links</h2>
    <p class="section__text">Textual links should be underlined and contain arrows, to draw attention to a single call-to-action. Use these links for links, not buttons. The only time when textual links should not be underlined or have an arrow is if they appear in the context of a block quote.</p>
    <div class="demo-box">
      <a class="oden-athena__with-text-underline">Learn more &rarr;</a>
    </div>
  </section>

  <section class="section" id="fundamentals--block-quotes">
    <h2 class="section__title">Block Quotes</h2>
    <p class="section__text">Quotes from external sources should be positioned with plenty of whitespace so that it's clear they're distinct from the main text. </p>
    <a target="_blank" href="https://github.com/luwen-huang/oden-athena/blob/master/src/_blockQuote.scss" class="to-code-link">View CSS &rarr;</a>
    <div class="demo-box">
      <blockquote class="oden-athena__blockquote">
        <p class="oden-athena__blockquote__quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="oden-athena__blockquote__cite"><a class="">How to Build Artificial Intelligence We Can Trust,</a> The New York Times</p>
      </blockquote>

    </div>
  </section>

  <section class="section" id="fundamentals--emphasis">
    <h2 class="section__title">Emphasis</h2>

    <p class="section__text">Links are different from emphases, which are words or short phrases underlined but are not clickable: </p>
    <div class="demo-box">
      <p >A physics-based model is a representation of the governing laws of nature that innately embeds the concepts of <span class="oden-athena__with-text-emphasis">time, space and causality</span>. A physics-based model incorporates governing principles and laws of nature. </p>
    </div>
  </section>

</section>
