
<section class="section" id="split-screen-splash">
  <h2 class="section__title">Split Screen </h2>

  <p class="section__text">A basic splash has a title and some description text underneath. It's plain, but plain is what you're going for if you have matter-of-fact information to present, or need the user to access something quickly. </p>

  <section class="splash-box-wrapper">
    <div class="splash-box-inner">
      <h1 class="">Directory </h1>
      <p class="section__text">Search below for faculty, staff, students and alumni. Search formats can include: lorem ipsum...</h1>
    </div>
  </section>


  <a href="" class="to-code-link">View CSS &rarr;</a>




</section>
