
<section class="section" id="components--top-level-section">
  <h2 class="section__title">Top-level section</h2>
  <p class="section__text">When one thinks of organizing a page, the <b><i>section</i></b> is usually the largest component. A section can comprise smaller components, or it can just be one big splashy thing. The one thing in common is that top level section always has a title with a short orange bar.</p>

  <a target="_blank" href="https://github.com/luwen-huang/oden-athena/blob/master/src/layout/_topLevelSection.scss" class="to-code-link">Github &rarr;</a>

  <p class="section__text">A top-level section can be only text:</p>

  <script async src="//jsfiddle.net/luwenh/63zjbcdL/2/embed/html,css,result/"></script>

  <div class="oden-athena__section margin-bottom bg-white">
    <h2 class="oden-athena__section__title">The shortcomings of data science for high-consequence decisions</h2>
    <p class="oden-athena__section__text">High-consequence decisions in science, engineering and medicine are almost always based on predictions that go beyond the available data. </p>
    <p class="oden-athena__section__text">More stuff below, images, text, etc. Lorem ipsum dolor amet xOXO yuccie la croix, ennui knausgaard tousled paleo leggings kitsch hashtag coloring book woke affogato. Biodiesel organic etsy keffiyeh raw denim, succulents flexitarian skateboard lomo taxidermy wolf. Pour-over 90's wayfarers cloud bread banh mi, coloring book celiac. Bushwick church-key try-hard prism glossier pour-over. Cold-pressed listicle chartreuse cardigan craft beer keytar. Franzen fixie kinfolk selfies hella, direct trade yr tumblr kogi chia vape.</p>
  </div>


  <p class="section__text">A top level section can consist of text overlaid on an image below. While the library provides default positioning, you should override the positioning and media queries CSS to achieve something that best suits the image and screen size. You can append four HTML classes for overlapping from top, bottom, left or right: <code>oden-athena__overlapped-image--top</code>, <code>oden-athena__overlapped-image--bottom</code>, <code>oden-athena__overlapped-image--left</code>, and <code>oden-athena__overlapped-image--right</code>.</p>

  <script async src="//jsfiddle.net/luwenh/cxk91tvq/2/embed/html,css/"></script>

  <section class="oden-athena__overlapped-image oden-athena__overlapped-image--bottom ">
    <img class="oden-athena__overlapped-image__overlapped-image" src="/images/basic-section__centers-groups.png" />

    <div class="oden-athena__overlapped-image__overlapping-wrapper">
      <h2 class="oden-athena__section__title">Groups and Centers</h2>
      <p class="oden-athena__section__text">Over 21 groups and centers at the Oden Institute are focused on solving Grand Challenge problems that impact the quality of life and well-being of every person in the US.</p>

      <p><a class="oden-athena__with-text-underline" href="groups-and-centers.html">Explore Groups &amp; Centers &rarr;</a></p>
    </div>
  </section>

  <section class="oden-athena__overlapped-image oden-athena__overlapped-image--top ">
    <img class="oden-athena__overlapped-image__overlapped-image" src="/images/basic-section__centers-groups.png" />

    <div class="oden-athena__overlapped-image__overlapping-wrapper">
      <h2 class="oden-athena__section__title">Groups and Centers</h2>
      <p class="oden-athena__section__text">Over 21 groups and centers at the Oden Institute are focused on solving Grand Challenge problems that impact the quality of life and well-being of every person in the US.</p>

      <p><a class="oden-athena__with-text-underline" href="groups-and-centers.html">Explore Groups &amp; Centers &rarr;</a></p>
    </div>
  </section>

  <section class="oden-athena__overlapped-image oden-athena__overlapped-image--left ">
    <img class="oden-athena__overlapped-image__overlapped-image" src="/images/basic-section__centers-groups.png" />

    <div class="oden-athena__overlapped-image__overlapping-wrapper">
      <h2 class="oden-athena__section__title">Groups and Centers</h2>
      <p class="oden-athena__section__text">Over 21 groups and centers at the Oden Institute are focused on solving Grand Challenge problems that impact the quality of life and well-being of every person in the US.</p>

      <p><a class="oden-athena__with-text-underline" href="groups-and-centers.html">Explore Groups &amp; Centers &rarr;</a></p>
    </div>
  </section>

  <section class="oden-athena__overlapped-image oden-athena__overlapped-image--right ">
    <img class="oden-athena__overlapped-image__overlapped-image" src="/images/basic-section__centers-groups.png" />

    <div class="oden-athena__overlapped-image__overlapping-wrapper">
      <h2 class="oden-athena__section__title">Groups and Centers</h2>
      <p class="oden-athena__section__text">Over 21 groups and centers at the Oden Institute are focused on solving Grand Challenge problems that impact the quality of life and well-being of every person in the US.</p>

      <p><a class="oden-athena__with-text-underline" href="groups-and-centers.html">Explore Groups &amp; Centers &rarr;</a></p>
    </div>
  </section>



</section>
