<!DOCTYPE html>
<html>
  <head>
    <title>Oden Athena | A smashing frontend library for Oden web</title>

    <link rel='stylesheet' href='/css/lib/foundation.min.css' />
    <link rel='stylesheet' href='/css/lib/prism.css' />
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/home.css' />
  </head>

  <body>

    <header class="header">
      <a class="header__logo-text" href='/'>
        <img class="header__logo" src="/images/orange_dol_wide@2x.png" />
        <p class="header__text">Oden Athena</p>
      </a>
    </header>

    <div class="wrapper">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-3 large-3">
          <div class=" toc" id="toc">
            <section class="" id="fundamentals">
              <p class="toc__heading"><a href="/fundamentals">Fundamentals</a></p>
              <p class="toc__sub-heading"><a href="/fundamentals#typography">Typography</a></p>
              <p class="toc__sub-heading"><a href="/fundamentals#links">Links</a></p>
              <p class="toc__sub-heading"><a href="/fundamentals#emphasis">Emphasis</a></p>
              <p class="toc__sub-heading"><a href="/fundamentals#block-quote">Block Quote</a></p>
            </section>
            <section class="" id="components">
              <p class="toc__heading"><a href="/components">Components</a></p>
              <p class="toc__sub-heading"><a href="/components#declarative-box">Declarative box</a></p>
              <p class="toc__sub-heading"><a href="/components#content-box">Content box</a></p>
              <p class="toc__sub-heading"><a href="/components#brick">Brick</a></p>
            </section>
            <section class="" id="layout">
              <p class="toc__heading"><a href="/layout">Page layout</a></p>
              <p class="toc__sub-heading"><a href="/layout#top-level-section">Top Level section</a></p>
              <p class="toc__sub-heading"><a href="/layout#basic-splash">Basic splash</a></p>
            </section>

          </div>
        </div>

        <div class="cell medium-9 large-8">

          <%if (page === 'home') { %>
            <section class="section">
              <h1 class="oden-athena__splash-title">Oden Athena</h1>
              <p class="section__text">
                Hello! This is the documentation for Oden Athena. Oden Athena is the slightly-opinionated component library for frontend components for the updated Oden webpages. Why this exists &mdash; so that styles can live in one central place and be namespaced so that CSS conflicts don't happen and we can have efficient updates whenever we need to change styles.
              </p>

              <h2 class="section__title">Getting started</h2>
              <p class="section__text">
                The easiest way to load the library is just to add the bundled file to your HTML:
                <pre><code>&lt;link rel='stylesheet' href='oden-athena/css/index.css' /&gt;</code></pre>
              </p>
              <p class="section__text">
                You can also choose to load only the bits you need, for example:
                <pre><code>&lt;link rel='stylesheet' href='oden-athena/css/layout/index.css' /&gt;</code></pre>
              </p>
              <p class="section__text">
                Or, if you're working with SCSS, you can import in specific components, e.g.:
                <pre><code>@import 'oden-athena/scss/components/_contentBox.scss';</code></pre>
              </p>

              <a href="https://github.com/luwen-huang/oden-athena" target="_blank" class="to-code-link">Github &rarr;</a>
            </section>
          <% } %>



          <%if (page === 'fundamentals') { %>
            <% include _fundamentals %>
          <% } %>

          <%if (page === 'components') { %>
            <section class="section" id="components">
              <h2 class="section__title">Components</h2>
              <p class="section__text">In this section, there are three components that look very much alike: Declarative Box, Content Box, and Brick. Their difference is in the granularity of what it is you're showing. <b>Declarative Boxes</b> are meant to be large, full page-width items; the intent is for the user to focus on that single item only. <b>Content Boxes</b> are meant for for medium-pieced items, when you want to show a collection of ~3-4 objects. <b>Bricks</b> are meant to show small items, such as news objects and other things you might want to put into a list. Even though they may look alike now, they will diverge as Content Boxes and Bricks will have more and more details added to them, but not Declarative Boxes, since Declarative Boxes are not meant to flood the user with details at first sight. </p>


              <% include _declarativeBox %>

              <% include _contentBox %>

              <% include _brick %>
            </section>
          <% } %>

          <%if (page === 'layout') { %>
            <section class="section" id="layout">
              <h2 class="section__title">Page Layout</h2>
              <p class="section__text">Guidelines for laying out the page.</p>

              <% include _topLevelSection %>

              <!-- <% include _splashBasic %>

              <% include _splashSplitScreen %> -->

            </section>
          <% } %>
        </div>


      </div>

    </div>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/prism.js"></script>
    <script src="/js/lib/masonry.pkgd.min.js"></script>
    <script src="/js/home.js"></script>


  </body>

</html>
