<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/css/lib/foundation.min.css' />
    <link rel='stylesheet' href='/css/lib/prism.css' />
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/home.css' />
  </head>

  <body>
    <div class="wrapper">
      <div class="grid-x">
        <div class="cell medium-2 large-3">
          <div class=" toc">
            <section class="">
              <p class="toc__heading">Fundamentals</p>
              <p class="toc__sub-heading"><a href="#typography">Colors</a></p>
              <p class="toc__sub-heading"><a href="#typography">Typography</a></p>
              <p class="toc__sub-heading"><a href="#typography">Layout</a></p>
            </section>
            <section class="">
              <p class="toc__heading">Components</p>
              <p class="toc__sub-heading"><a href="#components--basic-section">Basic section</a></p>
              <p class="toc__sub-heading"><a href="#components--declarative-box">Declarative box</a></p>
              <p class="toc__sub-heading"><a href="#components--brick">Brick</a></p>
            </section>

          </div>
        </div>

        <div class="cell medium-10 large-9">
          <section class="section">
            <h1 class="oden-athena__splash-title">Oden Athena</h1>
            <p class="section__text">
              Hello! This is the documentation for Oden Athena. Oden Athena is the component library for frontend components for the Oden webpages.
              Currently, it's a collection of CSS classes. However, if we are comfortable requiring Javascript and latest browsers, we can instead use Shadow DOM components.
            </p>
          </section>


          <section class="section" id="components">
            <% include _basicSection %>

            <% include _declarativeBox %>

            <% include _brick %>


          </section>

        </div>


      </div>

    </div>

    <script src="/js/lib/prism.js"></script>
    <script src="/js/lib/masonry.pkgd.min.js"></script>


  </body>

</html>
