<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/home.css' />
  </head>
  <body>

    <section>
      <h1>Oden Athena</h1>

      <div class="side-bar">

      </div>
    </section>


  </body>

</html>
