<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/css/lib/foundation.min.css' />
    <link rel='stylesheet' href='/css/common.css' />
    <link rel='stylesheet' href='/css/home.css' />
  </head>

  <body>
    <div class="wrapper">
      <div class="grid-x">
        <div class="cell medium-2 large-3">
          <div class="oden-athena__section toc">
            <section class="">
              <p class="toc__heading">Fundamentals</p>
              <p class="toc__sub-heading"><a href="#typography">Colors</a></p>
              <p class="toc__sub-heading"><a href="#typography">Typography</a></p>
              <p class="toc__sub-heading"><a href="#typography">Layout</a></p>
            </section>
            <section class="">
              <p class="toc__heading">Components</p>
              <p class="toc__sub-heading"><a href="#components--brick">Brick</a></p>
              <p class="toc__sub-heading"><a href="#typography">Typography</a></p>
              <p class="toc__sub-heading"><a href="#typography">Layout</a></p>
            </section>

          </div>
        </div>

        <div class="cell medium-10 large-9">
          <section class="section">
            <h1 class="oden-athena__splash-title">Oden Athena</h1>
            <p class="section__text">
              Hello! This is the documentation for Oden Athena. Oden Athena is the component library for frontend components for the Oden webpages.
              It houses CSS and HTML5 custom components.
              All of the styling here is an example of how an app could drop in Oden Athena.
            </p>
          </section>


          <section class="section" id="components">
            <section class="oden-athena__section">
              <h2 class="section__title">Links</h2>
              <p class="section__text">Links are burnt orange, and bright orange upon hover. Links should be underlined to generate a stronger call-to-action. </p>
              <pre>
Designing a good hyperlink is not as simply as one would imagine. For the intricacies of making a perfect link, visit &lt;a href="#typograph" class="oden-athena__with-text-underline"&gt;this article&lt;/a&gt; to read more on the trickeries of line-wrapping, baseline heights and descenders.</pre>

              <div class="demo-container oden-athena__section--light">
                <p>Designing a good hyperlink is not as simply as one would imagine. For the intricacies of making a perfect link, visit <a href="#typograph" class="oden-athena__with-text-underline">this article</a> to read more on the trickeries of line-wrapping, baseline heights and descenders.
                </p>
              </div>
            </section>

            <section class="section">
              <h2 class="">Typography</h2>
              <p class="section__text">Typographic scale uses the Perfect Fourth (1.333) ratio. For responsive text sizes: </p>
              <ol>
                <li class="section__text"> Set 16px at the html element </li>
                <li class="section__text"> Set 1rem at the body element or equivalent wrapping element for web, and .85rem for mobile</li>
              </ol>
              <div class="demo-container oden-athena__section--light">
                <h1 class="">H1 &mdash; the top-level heading</h1>
                <h2 class="">H2 &mdash; second-level headings</h2>
                <h3 class="">H3 &mdash; third-level headings, usually for section titles</h3>
                <p>Paragraph text</p>
              </div>
            </section>



          </section>

          <section class="section" id="layout">
            <h2 class="section__title">Layout</h2>
            <p class="section__text">Components, styles and typography for page layout</p>

            <section class="section no-bottom-padding">
              <h3 class="section__title">Splash</h3>
              <p class="section__text">A splash (or hero) section is the first section the user sees above the fold. Splash sections have <span class="oden-athena__with-text-emphasis">titles</span> &mdash; eye-catching text that you want the user to see, <span class="oden-athena__with-text-emphasis">leads</span> &mdash; description text set in larger font that elaborates on the title, and require a good amount of whitespace. </p>

              <pre> &lt;h1 class="oden-athena__splash-title"&gt;The Last Jedi&lt;/h1&gt;
 &lt;p class="oden-athena__splash-lead">Instead of Rey, could Leia have been the originally-intended &dquot;Last Jedi&dquot;? The Last Jedi is a sequel to the Force Awakens and is the second to last episode of the Skywalker saga. Not quite as good as The Force Awakens, it is nevertheless a pretty good film with more surprises than expected.&lt;/p&gt;</pre>

             <div class="clearfix demo-container">
               <h1 class="oden-athena__splash-title">Star Wars</h1>
               <p class="oden-athena__splash-lead">Star Wars is an American epic space-opera media franchise created by George Lucas. The franchise began with the eponymous 1977 film and quickly became a worldwide pop-culture phenomenon. There are 9 episodes collectively, though some consider only the original three to be the "true" Star Wars. </p>
             </div>

            </section>


            <section class="section no-bottom-padding">
              <h3 class="section__title">Section, Section Title and Section Lead</h3>
              <p class="section__text">A section is a natural containment of a 2<sup>nd</sup> level block of content. Sections can be white or dark. You should use white most of the time to provide some contrast against the site-wide offwhite background, and choose dark sparingly. Sections have a <span class="oden-athena__with-text-emphasis">section title</span> &mdash; a title with an orange overbar and a <span class="oden-athena__with-text-emphasis">section lead</span> &mdash; a description that should follow the section title.</p>

             <pre>
 &lt;section class="oden-athena__section oden-athena__section--light"&gt;
   &lt;h3 class="oden-athena__section__title">Episode VIII &mdash; The Last Jedi&lt;/h3&gt;
   &lt;p class="oden-athena__section__lead">Instead of Rey, could Leia have been the originally-intended "Last Jedi"? The Last Jedi is a sequel to the Force Awakens and is the second to last episode of the Skywalker saga. Not quite as good as The Force Awakens, it is nevertheless a pretty good film with more surprises than expected.&lt;/p&gt;
 &lt;/section&gt;</pre>

              <div class="demo-container oden-athena__section--light">
                <h3 class="oden-athena__section__title">Episode VIII &mdash; The Last Jedi</h3>
                <p class="oden-athena__section__lead">Instead of Rey, could Leia have been the originally-intended "Last Jedi"? The Last Jedi is a sequel to the Force Awakens and is the second to last episode of the Skywalker saga. Not quite as good as The Force Awakens, it is nevertheless a pretty good film with more surprises than expected.</p>
              </div>
            </section>


          </section>

        </div>


      </div>

    </div>


  </body>

</html>
