.oden-athena__brick-collection {
  display: block;
  margin: 3em auto;
  width: 80%;
}

.oden-athena__brick {
  font-size: .85em;
  width: 45%;
}

.oden-athena__brick__image-bg {
  background-image: url('/images/brick__brownian.png');
}
