html {
  font-size: 16px;
}

body {
  background-color: #f0f0f1;
  line-height: 1.6;
}

.header {
  background: #fff;
  padding: 1.5em 3em;
}

.header__logo {
  width: 200px;
  margin-right: 20px;
}

.header__text {
  font-weight: 700;
  margin-bottom: 0;
  color: #bf5700;
}

a.header__logo-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper {
  height: 100%;
  /*max-width: 1200px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-top-padding {
  padding-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.margin-bottom {
  margin-bottom: 1.5em;
}

.oden-athena__with-text-underline {
  background-position: 0 1.04em;
}

/* ----- section ------*/

.bg-white {
  background: #fff;
}

.demo-box {
  padding: 3em 2em;
  background: #fff;
  max-width: 60%;
  /*margin-bottom: 3em;*/
}

.splash-box-wrapper {
  background: #fff;
  max-width: 100%;
  padding: 3em 3em 0 3em;
  margin-bottom: 1.5em;
}

.splash-box-inner {
  padding: 6em 10% 3em 10%;
  font-size: .5em;
  height: 100%;
  width: 100%;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.section {
  padding-top: 3em;
  padding-bottom: 3em;
}


.section__title {
  margin-bottom: 1.5rem;
}

.section__text {
  color: #585858;
  margin-bottom: 1.6em;
}

code {
  font-size: .85em;
}


.to-code-link {
  display: block;
  margin-bottom: calc(1.5rem*2 - .85em);
  font-size: .85em;
}
