/*---- TOC ---- */

.toc {
  padding: 3em 1.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.toc__heading {
  font-size: .85em;
  margin-bottom: calc(1.5em - .85em)
}

.toc__heading a {
  font-weight: 600;
}

.toc__sub-heading {
  font-size: .85em;
  margin-left: 1em;
  margin-bottom: calc(1.5em - .85em)
}

.toc a.is-active {
  line-height: .3;
  display: inline-block;
  border-bottom: .5em solid rgba(248, 151, 31, .5);
}
