

.blockquote {
  padding-top:  .75em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: .75em;

  margin-top: .75em;
  margin-bottom: .75em;
  border-left: 1px solid #ccc;
}

.blockquote__quote {
  color: #444;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.blockquote__cite {
  color: #666;
  font-size: .85em;
  margin-bottom: 0;
}
