.primary-header {
  background: #bf5700;
  height: calc(1.45rem*2);
}

.secondary-header {
  height: calc(1.45rem*5);
  border-bottom: 1px solid #ccc;
}

.primary-footer {
  width: 100%;
  height: 481.5px;
  background: #382e2c;
}

.secondary-footer {
  width: 100%;
  height: 175px;
  background: grey;
}
