// colors


// --- primary colors ---
$burnt-orange: #bf5700;
$dark-grey: #333f48;
$white: #fff;


// --- secondary colors ---
$bright-orange: #f8971f;
$yellow: #ffd600;
$bright-green: #a6cd57;
$dark-green: #579d42;
$teal: #00a9b7;
$navy: #005f86;
$light-gray: #9cadb7;
$tan: #9cadb7;
