
// clearfix
@mixin group {
  .group:after {
    content: "";
    display: table;
    clear: both;
  }
}


.bg-wrapper {
  height: 100%;
  width: 100%;
  @include group;
}


.group:after {
  @include group;
}

// --- content sections ----

.section {
  // background: #fff;
  padding: 6em 2em;
}

.section__title {
  font-size: 1.777em;
  font-weight: 700;
  color: #404040;
  margin-bottom: calc(1.6rem*3 - 1.777em);
  position: relative;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -.55em;
  width: 60px;
  height: 7px;
  background: #bf5700;
}

.section__text {
  line-height: 1.6;
  margin-bottom: calc(1.6em*2 - 1rem);
}


.section--dark .section__title {
  color: #ddd;
}

.section--dark .section__text {
  color: #ddd;
}

// --- splash sections ----


.splash-title {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 2.369rem;
  margin-bottom: calc(1.45rem*3 - 1.777rem);
}

.splash-lead {
  color: #404040;
  line-height: 1.6;
  font-size: 1.333rem;
  margin-bottom: calc(1.6rem*3 - 1.333rem);
}

.section--dark .splash-title, .section--dark .splash-lead {
  color: #eaeaea;
}
