
html {
  font-size: 16px;
}

@media screen and (min-width:640px) and (max-width:850px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width:639px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
  color: #404040;
  font-weight: 700;
}

.scale-6 {
  font-size: 4.209em;
  margin-bottom: calc(1.5rem*6 - 4.209em);
  margin-bottom: 1.5em;

}

.scale-5 {
  font-size: 3.157em;
  margin-bottom: calc(1.5rem*5 - 3.157em);
  margin-bottom: 1.5em;

}


h1 {
    font-size: 2.369em;
    margin-bottom: calc(1.5rem*5 - 2.369em);
    margin-bottom: 1.5em;
    line-height: 1.5;
}

h2 {
    font-size: 1.777em;
    margin-bottom: calc(1.5rem*3 - 1.777em);
    margin-bottom: 1.5em;
    line-height: 1.5;

}

h3, h4, h5, h6 {
    font-size: 1.333rem;
    margin-bottom: calc(1.5rem*2 - 1.333em);
    margin-bottom: 1.5em;

    line-height: 1.5;
}

p, li {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  color: #333;
}

.large {
  font-size: 1.333rem;
  margin-bottom: calc(1.5rem*2 - 1.333rem);
}

.small {
  font-size: .85rem;
  margin-bottom: calc(1.5rem - .85rem);
}

.x-small {
  font-size: .75rem;
  margin-bottom: calc(1.5rem - .75rem);
}

.x-bold {
  font-weight: 700;
}

a {
  color: #bf5700;
  text-decoration: none;
}

a:hover {
  color: #f8971f;
  text-decoration: none;
}

.with-text-underline {
  background-image: linear-gradient(to right, #bf5700 100%, transparent 100%);

  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;

  text-shadow: 1px 1px #fcfcfc, 1px -1px #fcfcfc, -1px 1px #fcfcfc, -1px -1px #fcfcfc;
}

.with-text-underline:hover {
  background-image: linear-gradient(to right, #f8971f 100%, transparent 100%);
}

.with-text-emphasis {

  background-image: linear-gradient(to right, rgba(216, 99, 3, 0.5) 100%, transparent 100%);

  background-position: 0 .76em;
  background-repeat: repeat-x;
  background-size: 8px 6px;
}
